<div class="login-wrapper ">
    <mat-card class="box">
        <mat-card-header>
            <mat-card-title>Log in</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <mat-card-content>
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Username</mat-label>
                        <input matInput formControlName="username">
                        <mat-error *ngIf="loginForm.controls.username.invalid">Username is required</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Password</mat-label>
                        <input type="password" matInput formControlName="password">
                        <mat-error *ngIf="loginForm.controls.password.invalid">Password is required</mat-error>
                    </mat-form-field>
                </mat-card-content>
                <button type="submit" mat-raised-button [disabled]="loginForm.invalid" color="primary" class="full-width">Log in</button>
            </form>
        </mat-card-content>
        <p>Owner Login: owner,owner</p>
        <p>User Login: user,user</p>
    </mat-card>
</div>