<mat-card class="box">
    <mat-card-header>
        <mat-card-title>Add Poll</mat-card-title>
    </mat-card-header>
    <form [formGroup]="pollForm" (ngSubmit)="onSubmit()">
        <mat-card-content>
            <mat-card-content>
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Poll Name:</mat-label>
                    <input matInput formControlName="name">
                </mat-form-field>
                <div formArrayName="options">
                    <div *ngFor="let option of options.controls; let i=index">
                        <mat-form-field appearance="outline" class="full-width" [formGroupName]="i">
                            <mat-label>Option:</mat-label>
                            <input matInput formControlName="name">
                            <button *ngIf="i > 1" matSuffix mat-icon-button aria-label="Clear"
                                (click)="removeOption(i)">
                                <mat-icon>close</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>
                </div>
            </mat-card-content>
        </mat-card-content>
        <mat-card-footer class="buttons">
            <div fxLayout="row">
                <div fxLayout="column">
                    <button type="button" (click)="addOption()" mat-raised-button color="secondary">Add Option</button>
                </div>

                <div fxLayout="column" fxFlex>
                    <button type="submit" [disabled]="pollForm.invalid" fxFlexAlign="end" mat-raised-button
                        color="primary">Save Poll</button>
                </div>
            </div>
            <button (click)="resetAll()" type="button" class="full-width reset-button" mat-raised-button
                color="warn">Reset Poll</button>
        </mat-card-footer>
    </form>

</mat-card>