<div fxFlex fxLayout="column"  fxLayoutGap="10px">
    <div fxLayout="row wrap">
        <div *ngIf="(authService.loggedUser$ | async)?.role === 'Owner'" fxFlex="33" fxFlex.md="33" fxFlex.sm="50"
            fxFlex.xs="100" fxLayout="column" style="padding: 5px;">
            <app-add></app-add>
        </div>
        <div [fxFlex]="(authService.loggedUser$ | async)?.role === 'Owner' ? 33 : 50"
            [fxFlex.md]="(authService.loggedUser$ | async)?.role === 'Owner' ? 33 : 50" fxFlex.sm="100" fxFlex.xs="100"
            fxLayout="column" style="padding: 5px;">
            <app-vote></app-vote>
        </div>
        <div [fxFlex]="(authService.loggedUser$ | async)?.role === 'Owner' ? 33 : 50"
            [fxFlex.md]="(authService.loggedUser$ | async)?.role === 'Owner' ? 33 : 50" fxFlex.sm="100" fxFlex.xs="100"
            fxLayout="column" style="padding: 5px;">
            <app-bars></app-bars>
        </div>
    </div>
</div>