<mat-card *ngIf="data.length > 0" class="chart-card">
    <ngx-charts-bar-vertical [scheme]="colorScheme" [results]="data" [gradient]="false" [xAxis]="true" [yAxis]="true"
        [legend]="true" [showXAxisLabel]="true" [animations]="true" [showYAxisLabel]="true" [xAxisLabel]="'Options'"
        [yAxisLabel]="'Votes'" (select)="onSelect($event)">
    </ngx-charts-bar-vertical>

</mat-card>