<mat-card *ngIf="poll">
    <mat-card-header>
        <mat-card-title>{{poll.name}}:</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <ng-container *ngFor="let option of poll.options; let i = index">
            <button (click)="vote(i)" type="button" class="full-width option-button" mat-raised-button
                color="primary">{{option.name}}</button>
        </ng-container>
    </mat-card-content>

</mat-card>