<mat-toolbar color="primary">
    <a mat-button>
        <span>Poll Creator</span>
    </a>
    <span class="spacer"></span>
    <button mat-icon-button (click)="logout()" aria-label="Logout">
        <mat-icon>logout</mat-icon>
    </button>
</mat-toolbar>
<router-outlet></router-outlet>